{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Accueil{% endblock %}

{% block body %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div class="p-5 text-center bg-image rounded-3" style="
    background-image: url('https://codeandhack.b-cdn.net/wp-content/uploads/2020/04/Best-JavaScript-Frameworks-768x427.jpg');
    height: 300px;
  ">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <h1 class="mb-3">Projet SIMPLEEDUC</h1>
                <h4 class="mb-3">Bienvenue sur notre site !</h4>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Présentation du projet et de l'entreprise</h3>
            <p>Le site proposé est un projet de deuxième année de BTS SIO.</p>
            <p>L'entreprise :</p>
            <p> Simpléduc est une ESN créée en 2013. Son activité principale est la création de logiciels innovants
                dans le secteur de l’éducation. Située dans la ville d’Arras (62000), elle regroupe des développeurs
                spécialisés dans les nouvelles technologies, notamment dans la création de sites internet et de
                solutions mobiles. Elle dispose également de techniciens réseau qui travaillent sur la mise en place
                de l’infrastructure de l’entreprise.
            </p>
        </div>
        <div class="col-sm-4">
            <h3>But du projet</h3>
            <p>Le but du projet est plutôt simple, faire un site pour l'entreprise, permettre au personnel de s'y connecter et d'y gerer leurs besoins dans l'entreprise.</p>
            <p>Ensuite permettre la demande au personnes recherchant un emploi de prêter attention à la liste des postes à pourvoir afin d'y postuler selon leurs envies.</p>
        </div>
        <div class="col-sm-4">
            <h3>Résultat prévu et attendu</h3>
            <p>Voici les différents résultat attendu et présents:</p>
            <ul>
                <li>
                    - Site répondant aux besoins de l'entreprise.
                </li>
                <li>
                    - Mettre en place une list de poste à pourvoir et de pouvoir y postuler.
                </li>
                <li>
                    - Permettre au personnel, une inscriptionet une connexion a leur espaces saine et sécurisé afind'y réaliser pour chacun le travail ou autres demandé.
                </li>
                <li>
                    - Ce dernier élément entraine, la mise en placede la sécurité du site et d'une base de données pour stocker les comptes de tout le monde.
                </li>
                <li>
                    - Cela amène donc aussi à la protection des données sensibles et de l'accès de chacun à certains fichiers commme par exemple les fiches de paies qui ne seront pas accèssible par tous et différement selon la personne.
                </li>
            </ul>
        </div>
    </div>
</div>


{% endblock %}