{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Accueil{% endblock %}

{% block body %}
<h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold"> PROJET SIMPLEEDUC</h1>

<h2 class="text-center text-primary mt-4 pt-4 display-1 fw-bold"> Bienvenue sur le site !</h2>



{% endblock %}