{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Postuler{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row justify-content-center">

        <div class="col-10 text-primary">
            <h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold">Postuler</h1>

            <p>Liste des poste a pourvoir</p>

            <ul>
                <li>
                    Developpeur
                </li>
                <li>
                    Comptable
                </li>
                <li>
                    Responsable RH
                </li>
                <li>
                    Responsable Technique
                </li>
            </ul>
            {{form(form)}}
        </div>
    </div>
</div>

{% endblock %}