{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Postuler{% endblock %}

{% block body %}
<center>
    <h1>Postuler dans l'entreprise</h1>
</center>
<nav>
    <h4>Postes à pourvoir</h4>
    <ul>
        <li class="menu1"> <a href="#">Poste</a>
            <ul class="sousmenu1">
                <li><a href="#">test1</a>
                <li> <a href="#">test2</a>
            </ul>
        </li>
    </ul>
</nav>

{% endblock %}