{% extends 'base.html.twig' %}

{% block title %}Création projet{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h4 class="text-center text-primary mt-4 pt-4 display-1 fw-bold">Créer un nouveau projet</h4>
    {{form(form)}}
</div>
{% endblock %}