{% extends 'base.html.twig' %}

{% block title %}Ajout tache{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h4 class="text-center text-primary mt-4 pt-4 display-1 fw-bold">Indique l'id d'un projet et le nom d'une tache ajouté à ce dernier
    </h4>
    {{form(form)}}
</div>
{% endblock %}